doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello there
    body 
        form(action="/logout", method="get") 
            a Hello #{username}
            br
            button(type="submit") Logout 
        form(action="/", method="post") 
            label(for="searchUser") Search Users
            br
            input#searchUser(type="searchUser", name="searchUser")
            br
            button(type="submit") submit 
    H User Lists
        table(width='100%', cellspacing='0', cellpadding='0', border='1', bgcolor='#F2F2F2')
            thead
                tr
                    th Username
                    th Name
                    th Birth Day
            tbody
            if userLists
            each accounts in userLists
                tr
                    td #{accounts.username}
                    td #{accounts.name}
                    td #{accounts.birthday}
